
  /* Fonts */

  @font-face {
    font-family: "DeathNote";
    src: url("../fonts/Death\ Note.ttf");
  }

/* Basic Styles */

body, html{
  margin: 0;
  padding: 0;
  font-family: "DeathNote";
}




/* MAIN VIEW */

.main-view{
  /* background-color: darkslategrey; */
  background: url('../img/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.main-view-container{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}


/* CONTENT BOX (Left side div) */

.main-view-container .content-box{
  width: 40%;
  height: 90%;
}

/* Bordered div of content-box */
.content-box .content-box-container{
  box-sizing: border-box;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: rgba(38, 18, 18, 0.7);

  display: flex;
  flex-direction: column;
}

/* list */

.content-box .content-box-container .content-list{
  height: auto;
  overflow: scroll;
  margin-top: 20px;
}

.content-list ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.content-list .content-list-item{
  display: flex;
  width: auto;
  align-items: center;
  gap: 15px;
  background-color: brown;
  border-radius: 5px;
  padding: 7px 10px;
}

.content-list .content-list-item .content-list-item-name{
  margin: 0;
}

.content-list .content-list-item .delete-button{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
}

/* Inputs */

.content-box .content-box-container .content-form{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content-form input{
  height: 30px;
  margin: 0;
  box-sizing: border-box;
}

.content-form input#input-user{
  width: 60%;
  background: lightgrey;
  height: 60%;
  padding-left: 10px;
  border: 0;
  border-radius: 5px;
}

.content-form input[type="submit"]{
  background-color: #893636;
  border: 0;
  height: 60%;
  border-radius: 5px;
}


/* sacrifice button */

.content-box .sacrificeBtn{
  display: block;
  font-size: 20px;
  font-family: "DeathNote";
  color: white;
  width: 60%;
  height: 50px;
  margin: 20px auto;
  background-color: rgba(137, 54, 54, 1);
  border-radius: 10px;
  border: 0;
}



/* NOTEBOOK (Right side div) */

.main-view-container .notebook{
  width: 700px;
  height: 90%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* background: url('../img/notebook.png');
  background-size: 100%;
  background-repeat: no-repeat; */
}
.main-view-container .notebook .briefing{
  background: url('../img/notebook-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-view-container .notebook .notebook-page{
  background: url('../img/notebook-2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.main-view-container .notebook .notebook-page-container{
  width: 100%;
  height: 35vw;
  position: absolute;
  top: 5vh;
  left: 2vw;
}

.notebook-page-container .notebook-item{
  font-size: 14px;
}


.main-view-container .notebook > div{
  width: 50%;
  height: 90%;
}


/* RESET BUTTON */

.resetBtn{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  left: 2vw;
  cursor: pointer;
}


